body {
	background: no-repeat center fixed;
	background-image: url('../assets/img/gb.png');

}

#game-window {
	position: fixed;
	width: 537px;
	height: 487px;
	left: 683px;
	top: 355px;
}

#attack1 {
	position: absolute;
	left: 50%;
	top: 50%;
}

#attack2 {
	position: absolute;
}

#items {
	position: absolute;
}